body{
    font-family: "Comic Sans MS";
    background-color:rgb(255, 237, 212);
    color:rgb(0, 0, 0);
}

article.highschool_pass_exam{
    background-color:rgb(255, 255, 255);
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

footer{
    font-size: 10px;
    font-weight: 2px;
}

section{
	font-size: 16px;	
    padding: 0.2em 0.5em;
	margin: 2em 0;
	background: #eafcff;
	box-shadow: 0px 0px 0px 10px #eafcff;
	border: dashed 2px #c3d6ff;
    margin-left: 10px;
}

h1{
    background-color:#bec4ff;
    margin-bottom: 30px;
    position: relative;
    border-bottom: solid 2px #000000;
}

h2{
    line-height: 1px;
}

h3{  
    font-size: 5px;
    margin-left: 30px;
}

h4{
    margin-left: 40px;
}

a{
    color:rgb(0, 48, 179);
    transition: color 0.2s;
}

a:hover{
    color:rgb(30, 94, 0);
}


div.math_img img{
    position: absolute;
    top: 300px;
    left: 800px;
    width: 200px;
    height: auto;
    filter: blur(1px) opacity(50%);
}

div.hikakin img{
    position: absolute;
    top: 10px;
    left: 900px;
    width: 250px;
    height: auto;
    filter: saturate(50%);
}

div.hikakin:hover{filter: blur(2px) saturate(200%);}

div.seikin img{
    position: absolute;
    top: 400px;
    left: 700px;
    width: 250px;
    height: auto;
    filter: brightness(90%);
}

div.seikin:hover{
    filter: brightness(150%);
}

div.maruo img{
    position: absolute;
    top: 600px;
    left: 1000px;
    width: 500px;
    height: auto;
    filter: brightness(90%);
}

@media screen and (min-width: 768px){
    br.section_text{
        display: none;
    }
}