body{
    width: 1500px;
    background: linear-gradient(to left, #000000, #2e2e2e);
    color:rgb(221, 221, 221);
}

footer{
    font-size: 10px;
    font-weight: 2px;
    position: relative;
}

section{
    background-color:#0f0f0f;
	font-size: 16px;
    font-weight: 800px;
    margin-bottom: 40px;
    margin-right: 40px;	
    margin-left: 40px;
}

h1{
    margin-bottom: 30px;
}

h2{
    line-height: 1px;
}

h3{  
    font-size: 5px;
    line-height: 1px;
    margin-left: 30px;
}

h4{
    margin-left: 40px;
}

a{
    color:rgb(205, 231, 255);
    transition: color 0.2s;
}

a:hover{
    color:rgb(255, 255, 208);
}


div.math_img img{
    position: absolute;
    top: 300px;
    left: 800px;
    width: 200px;
    height: auto;
    filter: blur(1px) opacity(50%);
}

div.hikakin img{
    position: absolute;
    top: -10px;
    left: 750px;
    width: 250px;
    height: auto;
    filter: saturate(50%);
}

div.hikakin:hover{filter: blur(5px) saturate(200%);}

div.seikin img{
    position: absolute;
    top: 400px;
    left: 700px;
    width: 250px;
    height: auto;
    filter: brightness(90%);
}

div.seikin:hover{
    filter: blur(5px) brightness(150%);
}

div.maruo img{
    position: absolute;
    top: 600px;
    left: 1000px;
    width: 500px;
    height: auto;
    filter: brightness(90%);
}
